@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #111;
  
  
}
.home{
  background: linear-gradient(to bottom, #ffffff, #fec8dd);
  padding: 80px 10%;
  min-height: 80vh;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  padding: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  flex-wrap: wrap;
}

.text-content {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.text-content h1 {
  font-size: 40px;
  line-height: 1.4;
}

.text-content h2 {
  font-size: 30px;
  font-weight: bold;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
}

.script {
  font-family: 'Great Vibes', cursive;
  color: #e91e63;
  font-size: 80px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 0 0 40px #FFA3C3;
  
}

/* About Section */
.about {
 background: linear-gradient(to bottom, #ffffff, #fec8dd);
 padding: 80px 10%;
 min-height: 80vh;
}
.about .image-container img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

/* Featured */
.featured {
  text-align: center;
  flex-direction: column;
   background: linear-gradient(to bottom, #ffffff, #fec8dd);
  padding: 80px 10%;
  min-height: 80vh;

}

.featured-title {
  font-size: 50px;
  margin-bottom: 0;


}

.featured h3 {
  font-size: 24px;
  margin-top: 10px;
}

.projects {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.projects img {
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 50px #FFA3C3;
}
/* Contact Section */
.contact {
  background: linear-gradient(to bottom, #ffffff, #fec8dd);
  padding: 80px 10%;
  min-height: 80vh;

  
}

.contact-heading {
  font-size: 60px;
  margin-bottom: 5px;
}

.contact-text-black {
  font-family: 'Great Vibes', cursive;
  color: #000000;
}

.contact-text-pink {
  font-family: 'Great Vibes', cursive;
  color: #e91e63;
}

.contact-subtitle {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.contact-item span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
